/* main */
/* use this section for styles that will stay the same across all screen sizes */


a:link {
	color: black;
	text-decoration: none;
	text-align: center;
	font-family: 'Just Me Again Down Here', cursive;

}

a:visited {
	color: black;

}


a:hover {
	color: #1E9093;

}


button {
background: none;
border: none;
}


.button {
	background-color: white;
	border: 3px solid #1E9093;
	font-family: 'Just Me Again Down Here', cursive;
	border-radius: 10px;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	color: white;
}


.characters {
	display: grid;
	background-color: #DB92A1;
	padding: 10px 10px 10px 10px;
	/* background-image: url(../images/character-background.png); */
}

h1 {
	font-family: 'Oooh Baby', cursive;
	background-color: white;
	font-family: 'Oooh Baby', cursive;
	border-radius: 10px;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	color: black;
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

h2 {
	font-family: 'Just Me Again Down Here', cursive;
	color: #1E9093;
	text-align: center;
	margin-top: -20px;
}

h3 {
	font-family: 'Oooh Baby', cursive;
	color: black;
}

p {
	font-family: 'Just Me Again Down Here', cursive;
	text-align: center;
}

.paint-section {
	display: grid;
}



/* end main */


@media only screen and (min-width: 320px) {

	/* mobile phone portrait view */
	a {
		font-size: 2em;

	}

	.arrow {
		margin-left: 10px;
		max-width: 7%;
	}



	.characters {
		grid-template-columns: repeat(2, 1fr);
	}

	.character-images {
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}


	.character-justin-image {
		grid-row-start: 1;
		grid-column-start: 1;
		column-span: 1;
	}


	.character-reema-image {
		grid-row-start: 1;
		grid-column-start: 2;
		column-span: 1;
	}


	.character-maggie-image {
		grid-row-start: 2;
		grid-column-start: 1;
		column-span: 1;
	}


	.character-brandon-image {
		grid-row-start: 2;
		grid-column-start: 2;
		column-span: 1;
	}

	.footer {
		font-size: 1.2em;
	}



	h1 {
		font-size: 4em;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;

	}

	h2 {
		font-size: 2.2em;
	}

	h3 {
		font-size: 4em;

	}

	.paint-section {
		grid-template-columns: repeat(3, 1fr);
		;
	}

	.paint-header {
		grid-row-start: 1;
		grid-column-start: 1;
		column-span: 1;

	}

	.paint-page {
		background-image: url(../images/paint-800x1280.png);
		background-position: center;
		background-size: 100%;
	}

	.paint-image {
		grid-row-start: 1;
		grid-column-start: 2;
		column-span: 3;
		grid-row: span 2;
		margin-left: 30px;
		max-width: 50%;
	}

	.paint-image-nails {
		height: 100%;
		object-fit: cover;
		display: block;
		margin-left: 50px;
	}

	.paint-polishes {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-row-start: 2;
	}

	.bottom-three {
		position: relative;
		left: 75px;
		top: -15px;
	}




}

/* DON'T DELETE */


@media only screen and (min-width: 768px) {
	/* tablet portrait view */

	a {
		font-size: 3em;

	}

	.arrow {
		margin-left: 10px;
		max-width: 6%;
	}


	.characters {
		grid-template-columns: repeat(2, 1fr);
	}

	.character-images {
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}


	.character-justin-image {
		grid-row-start: 1;
		grid-column-start: 1;
		column-span: 1;
	}


	.character-reema-image {
		grid-row-start: 1;
		grid-column-start: 2;
		column-span: 1;
	}


	.character-maggie-image {
		grid-row-start: 2;
		grid-column-start: 1;
		column-span: 1;
	}


	.character-brandon-image {
		grid-row-start: 2;
		grid-column-start: 2;
		column-span: 1;
	}

	.footer {
		font-size: 1.2em;
	}



	h1 {
		font-size: 4em;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;

	}

	h2 {
		font-size: 2.2em;
	}

	h3 {
		font-size: 4em;

	}

	.paint-section {
		grid-template-columns: repeat(3, 1fr);
		;
	}

	.paint-header {
		grid-row-start: 1;
		grid-column-start: 1;
		column-span: 1;
		margin-left: auto;
		margin-right: auto;
		margin-top: 150px;


	}

	.paint-image {
		grid-row-start: 1;
		grid-column-start: 2;
		column-span: 3;
		grid-row: span 2;
		margin-left: 30px;
	}

	.paint-image-nails {
		height: 100%;
		object-fit: cover;
		display: block;
		margin-left: 50px;
	}

	.paint-polishes {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-row-start: 2;
	}

	.bottom-three {
		position: relative;
		left: 75px;
		top: -15px;
	}


}

/* DON'T DELETE */

@media only screen and (min-width: 1024px) {
	/* computer widescreen view */

	a {
		font-size: 3em;

	}

	.arrow {
		margin-left: 10px;
		max-width: 3%;
	}

	.characters {
		grid-template-columns: repeat(4, 1fr);
	}

	.character-images {
		max-width: 85%;
		margin-left: auto;
		margin-right: auto;
	}


	.character-justin-image {
		grid-row-start: 1;
		grid-column-start: 1;
		column-span: 1;
	}


	.character-reema-image {
		grid-row-start: 1;
		grid-column-start: 2;
		column-span: 1;
	}


	.character-maggie-image {
		grid-row-start: 1;
		grid-column-start: 3;
		column-span: 1;
	}


	.character-brandon-image {
		grid-row-start: 1;
		grid-column-start: 4;
		column-span: 1;
	}


	.footer {
		font-size: 1.2em;

	}



	h1 {
		font-size: 4em;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;

	}

	h2 {
		font-size: 2.2em;
	}

	h3 {
		font-size: 4em;

	}

	.paint-section {
		grid-template-columns: repeat(2, 1fr);
		;
	}

	.paint-header {
		grid-row-start: 1;
		grid-column-start: 1;
		column-span: 1;
		margin-left: auto;
		margin-right: auto;
		margin-top: 150px;


	}

	.paint-image {
		grid-row-start: 1;
		grid-column-start: 2;
		column-span: 1;
		max-width: 66%;
		grid-row: span 2;
	}

	.paint-image-nails {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
		margin-left: 50px;
	}

	.paint-page {
		background-image: url(../images/paint-2048x1536.png);
		background-position: center;
		background-size: 100%;
	}

	.paint-polishes {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-row-start: 2;
	}

	.bottom-three {
		position: relative;
		left: 75px;
		top: -15px;
	}


}


/* DON'T DELETE */
